<section class="hero">
  <h1>Hi, I'm <strong>Sarveshwaran </strong> 👋</h1>

  <h2>Software Quality Analyst | Aspiring Data Analyst</h2>

  <p>
    I specialize in Software Quality Assurance and am actively building
    expertise in Data Analytics using Power BI, Microsoft Fabric, SQl, Python and Excel.
    My goal is to combine quality engineering with data-driven decision making.
  </p>

  <p>
    🚧 Portfolio currently under development.
  </p>

  <p>
    <a href="https://www.linkedin.com/in/sarveshwaran-b-b079961a3" target="_blank">LinkedIn</a> |
    <!-- https://www.linkedin.com/in/sarveshwaran-b-b079961a3/ -->
    <a href="https://github.com/bsarveshwaran" target="_blank">GitHub</a>
  </p>
</section>